name: Python package

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GOOD_HASH: "e4cfc6f77ebbe2e23550ddab682316ab4ce1c03c"
      BAD_HASH: "HEAD"


    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install packages
        run: pip install -r requirements.txt

      - name: Run git bisect to find bad commit
        run: python myscript.py